<p id="notice"><%= notice %></p>

<h1>Driverslists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @driverslists.each do |driverslist| %>
      <tr>
        <td><%= driverslist.name %></td>
        <td><%= link_to 'Show', driverslist %></td>
        <td><%= link_to 'Edit', edit_driverslist_path(driverslist) %></td>
        <td><%= link_to 'Destroy', driverslist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driverslist', new_driverslist_path %>
