<!DOCTYPE html>
<html>
  <head>
    <title>Pskrestaurantapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to "Home", page_home_path %>
<%= link_to "Contact Us", page_contact_path %>
<%= link_to "About US", page_about_path %>
<%= link_to "Features", page_features_path %>
<%= link_to "FAQs", page_faq_path %>
<%= link_to "Login", page_login_path %>
<%= link_to "Tables", root_path %>
   <%= yield %>
  </body>
</html>
